.head {
    background: black;
    padding: 10px 0;
}

.items  {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.items a {
    text-decoration: none;
    color: white;
}
